body {
    background-color: black;
}
h1 {
    color: #FF6B2B;
    font-family: 'Times New Roman', Times, serif;
}
p {
    color: white;
    font-family: 'Times New Roman', Times, serif;
}
h2 {
    color: #FF6B2B;
}